<html>
    <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type = "text/css" href = "/home.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    </head>
    
    <body>
        
        
        <div id = "habbit-view-container">
            <form action = "/create/habbit/" method = "POST" id = "create-habbit-form">
                <input type = "text" name = "habbitName" placeholder="Your Habbit" required><br>
                <select type = "text" name = "schedule" placeholder="schedule" required>
                    <option>Daily</option>
                    <option>Weekend</option>
                </select>
                <input type = "hidden" name = "status" value = "true"><br>
                <input type = "date" name = "date" value = "true"><br>
                <input type="submit" value = "ADD">
              </form>
              
            <nav id = "habbit-nav">
             <div>
                <button id = "menu-btn"><i class="material-icons">menu</i></button>
                <div id = "nav-item">
                 <button id = "add-btn">ADD</button>
                </div>
             </div>
             <div>
                 Week view
             </div>
             <div>
                <button class = "sort-btn"><i class="material-icons">sort</i></button>
             </div>
            </nav>
            <ul id = "habbit-view-content">
              <% for(i of habbits) {%>
                <li class = "habbits">
                    <div class = "habbit-name">
                        <%= i.Habbit%>
                    </div>
                    <ul>
                        <% for(j of i.Detail) {%>
                        <li>
                            <div><%= j.Date.getDate()%>/<%= j.Date.getMonth()+1%>/<%= j.Date.getFullYear()%></div>  
                            <div>
                                <% if(j.Status){%>
                                   <a href = '/update/habbit/?id=<%= i.id%>&dateId=<%= j.id%>&status=<%=j.Status%>' id="update-link"><i class="material-icons">check_box_outline_blank</i> </a>
                                  <%}else{%>
                                    <a href = '/update/habbit/?id=<%= i.id%>&dateId=<%= j.id%>&status=<%=j.Status%>' id="update-link"><i class="material-icons" style="font-size:24px;color:green">check_box</i></a>
                                  <%}%>
                            </div>
                        </li>
                        <%}%>
                    </ul>
                </li>
             <%}%>
            </ul>
        </div>
        <script src="/week_view.js"></script>
    </body>
    
</html>